<header class="app-header">
    <section class="app-header__inner flex items-center justify-between">
        <div class="logo-wrapper flex items-center">
            <!-- <img src={logo} alt=""/> -->
            <h2>MISTER BTC</h2>
        </div>
        <nav class="nav-wrapper flex flex-column">
            <a class="header-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Overview</a>
            <a class="header-link" routerLink="/contact" routerLinkActive="active">Contacts</a>
            <a class="header-link" routerLink="/statistic" routerLinkActive="active">Statistics</a>
            <a class="header-link" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="header-link" routerLink="/signup" routerLinkActive="active">Signup</a>
        </nav >
    </section>
</header>