<section class="contact-details main-layout full">
    <div *ngIf="contact" class="contact-details__inner flex">
        <section class="info flex flex-column items-center">
            <img src="https://robohash.org/{{contact._id}}" alt="c" />
            <h2>{{contact.name}}</h2>
            <p>{{contact.email}}</p>
            <p>{{contact.phone}}</p>
            <div class="info__actions flex items-center">
                <a routerLink="/contact">Back</a>
                <a routerLink="/edit/{{contact._id}}">Edit</a>
                <button (click)="onRemoveContact()">Remove</button>
            </div>
        </section>
        <section class="contact-transfer flex flex-column">
            <section class="wrapper">
                <h2>Send coins to {{contact.name}}</h2>
                <form (ngSubmit)="onTrasfer()" class="transfer flex">
                    <input [(ngModel)]="amount" type="number" name="coins" id="coins">
                    <button>Send</button>
                </form>
            </section>
            <trans-list class="contact-trans-list" [moves]="movesToContact"></trans-list>
        </section>
    </div>
</section>