@import '../../../styles.scss';

:host {
    flex-grow: 1;

    .contact-filter {    
        input {
            padding: rem(12px);
            width: 100%;
    
            &::placeholder {
                text-transform: capitalize;
            }
        }
    }
}