<section *ngIf="contact" class="contact-edit main-layout full">
    <div class="contact-edit__inner flex-column-center">
        <form class="edit-form flex flex-column" (ngSubmit)="onSavecontact()">
            <h2>{{contact._id ? 'Edit':'Add'}} contact</h2>
            <label for="name">Name:
                <input [(ngModel)]="contact.name" type="text" name="name" id="name">
            </label>

            <label for="email">email:
                <input [(ngModel)]="contact.email" type="email" name="email" id="email">
            </label>

            <label for="phone">Phone:
                <input [(ngModel)]="contact.phone" type="phone" name="phone" id="phone">
            </label>

            <div class="actions flex">
                <a routerLink="/contact/{{contact._id}}">Back</a>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</section>