<section class="login main-layout full">
    <div class="login__inner flex-column-center">
        <form class="login-form">
            <h2>Signup</h2>
            <input type="email" placeholder="Email" autofocus name="email" />
            <input type="password" placeholder="Password" show-password="true" name="password" />
            <button class="login__btn">
                <span>Signup</span>
            </button>
        </form>
        <a routerLink="/signup">Click here to login</a>
    </div>
</section>